{% extends "main/base_navigate.html" %}

{% block app_content %}
<br>
<br>
<div class ="pagestyle">
    <table class="table table-borderless">
        <tr> 
            <td ALIGN="CENTER"><h4 class = "pnavbut"> <b>Consent form</b></h4> </td>
        </tr>
        <tr> 
            <td ALIGN="LEFT">
                <p>You consent to us using your data for scientific purposes. Thank you for your consent!</p>
            </td>
        </tr>

    </table>
    <a>
        <form action="{{ url_for('main.knowledge_before') }}" method="post">
            <div style="text-align: right;">
                <input type="submit" value="Next" class="btn btn-success mb-2 btn-lg">
            </div>
        </form>
    </a>
    <br>
</div>
{% endblock %}


