
<br><br>
{# — Disclaimer — #}
<p style="font-size: 0.85em; color: #555;">
    <strong>Disclaimer</strong>: The insights provided here are based on the algorithm trained in our pilot study and are not intended to replace professional advice. For any concerns about your mental health, we encourage you to speak with a qualified healthcare provider. Here is a link to available support resources: <strong><a href="https://www.ccmhs-ccsms.ca/education/mh-resources-en" target="_blank">Resources</a></strong>
</p>