{% extends "main/base_navigate.html" %}

{% block app_content %}
<br>
<br>
<div class ="pagestyle">
    <table class="table table-borderless">
        <tr> 
            <td ALIGN="CENTER"><h4 class = "pnavbut"> <b>Explanation of your predicted well-being score</b></h4> </td>
        </tr>
        <tr> 
            <td ALIGN="LEFT">
                <p>
                    Your well-being score is <strong>{{ explain_dic.predicted_score }}</strong>.
                </p>
                <p>
                    To help you situate yourself, here is the distribution of scores observed during our pilot study with 1,881 participants:
                </p>
                <ul>
                    <li>25% of participants had a score below 43</li>
                    <li>25% had a score between 43 and 59</li>
                    <li>25% had a score between 59 and 74</li>
                    <li>25% had a score above 74</li>
                </ul>
            </td>
        </tr>
    </table>
    <a>
        <form action="{{ url_for('main.satisfaction') }}" method="post">
            <div style="text-align: left;">
                <input type="submit" value="Next" class="btn btn-primary btn-submit">
            </div>
        </form>
    </a>
    <br>
</div>
{% endblock %}
