{% extends "main/base_navigate.html" %}

{% block app_content %}
<br>
<br>
<div class="pagestyle">
    <table class="table table-borderless">
        <tr>
            <td ALIGN="CENTER">
                <h4 class="pnavbut"><b>Explanation of your predicted mental health score.</b></h4>
            </td>
        </tr>
        <tr>
            <td ALIGN="LEFT">
                <p>
                    Your mental health score is <strong>{{ explain_dic.predicted_score }}</strong>.
                </p>
                <form action="/explain" method="post">
                    {% set grouped_questions = {} %}
                    {% set all_other_questions = [] %}
            
                    {% for (question_id, question_content, form_id), questionnaire_value in questionnaire_dico.items() %}
                        {% if form_id == "likert" %}
                            {% set answers_key = questionnaire_value | map(attribute=1) | list %}
                            {% set answers_key_str = answers_key | join(',') %}
                            {% if grouped_questions.get(answers_key_str) is none %}
                                {% set _ = grouped_questions.update({answers_key_str: []}) %}
                            {% endif %}
                            {% set _ = grouped_questions[answers_key_str].append((question_id, question_content, questionnaire_value)) %}
                        {% else %}
                            {% set _ = all_other_questions.append((form_id, question_id, question_content, questionnaire_value)) %}
                        {% endif %}
                    {% endfor %}
            
                    <div class="table-container">
                        <!-- Render Non-Likert Questions First -->
                        {% for form_id, question_id, question_content, questionnaire_value in all_other_questions %}
                            {% if form_id == "scroll" %}
                                <h4 style="margin-left: 50px;"><label for={{question_id}}>{{question_content}}</label></h4>
                                <select id={{question_id}} name={{question_id}} class="large-text" style="margin-left: 50px;">
                                    <option value=""></option>
                                    {% for (answer_id, answer_content) in questionnaire_value %}
                                        <option value={{answer_id}}>{{answer_content}}</option>
                                    {% endfor %}
                                </select><br><br>
                            {% endif %}
            
                            {% if form_id == "cursor" %}
                                <h4 style="margin-left: 50px;margin-bottom: 55px;">
                                    <label for="{{question_id}}">{{question_content}}</label>
                                </h4>
                                <div class="range-container" style="margin-left: 50px; width: calc(100% - 100px);">
                                    <input type="range" id="{{question_id}}" name="{{question_id}}" 
                                           min="1" max="{{ questionnaire_value | length }}" value="1" 
                                           style="width: 100%;" step="1" list="tickmarks_{{question_id}}">
                                    <div class="tickmarks" style="position: absolute; left: 0; right: 0; display: flex; justify-content: space-between; font-size: 15px; top: -25px;">
                                        {% for (answer_id, answer_content) in questionnaire_value %}
                                            <span>{{ answer_content }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <br><br>
                            {% endif %}
            
                            {% if form_id == "checkbox" %}
                                <h4 style="margin-left: 50px;"><label for={{question_id}}>{{question_content}}</label></h4>
                                <div class="checkbox-group" data-question-id="{{question_id}}" style="margin-left: 50px;">
                                    {% for (answer_id, answer_content) in questionnaire_value %}
                                        <div>
                                            <label>
                                                <input type="checkbox" id={{answer_id}} name={{question_id}}[] value={{answer_id}} />
                                                {{answer_content}}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <br><br>
                            {% endif %}
                        {% endfor %}
            
                        <!-- Render Likert Questions at the End -->
                        {% for answers_key_str, questions in grouped_questions.items() %}
                            <table class="table table-bordered table-striped likert-table">
                                <thead class="table-light">
                                    <tr>
                                        <th>Question</th>
                                        {% set answer_labels = answers_key_str.split(',') %}
                                        {% for answer_content in answer_labels %}
                                            <th>{{ answer_content }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for question_id, question_content, questionnaire_value in questions %}
                                        <tr>
                                            <td class="question-cell">{{ question_content }}</td>
                                            {% for (answer_id, answer_content) in questionnaire_value %}
                                                <td>
                                                    <input type="radio" 
                                                           name="{{ question_id }}" 
                                                           value="{{ answer_id }}"
                                                           {% if not skip_valid %} required {% endif %}
                                                    >
                                                </td>
                                            {% endfor %}
                                            <!-- Hidden input to send default value if no option is selected -->
                                            <input type="hidden" name="{{ question_id }}" value="">
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        {% endfor %}
                    </div>
            
                    <div style="text-align: left;">
                        <input type="submit" value="Next" class="btn btn-primary btn-submit">
                    </div>
                </form> 
            </td>
        </tr>
    </table>
    <a>
        <form action="{{ url_for('main.satisfaction') }}" method="post">
            <div style="text-align: left;">
                <input type="submit" value="Next" class="btn btn-primary btn-submit">
            </div>
        </form>
    </a>
    <br>
</div>
{% endblock %}
