{% extends "main/base_questionnaire.html" %}
{% set title = "Preliminary knowledge about well-being" %}
{% set description = "Before starting, we would like to evaluate your knowledge of what is important for well-being. Here are ten statements. How do you think each statement is important for the well-being (in a general manner, not especially about yourself)?" %}
{% set table_description = "" %}
{% set form_action = "/lifestyle" %}
{% set page_name = "knowledge_before.html" %}
{% set button_text = "Next" %}
{% set button_class = "btn-primary btn-submit" %}
