{% extends "main/base_navigate.html" %}

{% block app_content %}
<br>
<br>
<div class ="pagestyle">

    <table class="table table-borderless">
        <tr> 
            <td ALIGN="CENTER"><h4 class = "pnavbut"> <b>Knowledge before</b></h4> </td>
        </tr>
        <tr> 
            <td ALIGN="LEFT">
                <p>Here is a questionnaire about your knowledge in mental health</p>
            </td>
        </tr>
    </table>

    <form action="/lifestyle" method="post">
        <tr> 
            <td ALIGN="LEFT">
                <p>Here are ten statements about things that may be important for good mental health. On a scale of 1 to 5, how accurate is each statement?</p>
                {% include 'main/likert_table.html' %}
            </td>
        </tr>
    </form>
</div>

{% endblock %}


