{% extends "main/base_questionnaire.html" %}
{% set title = "Updated knowledge about well-being" %}
{% set description = "Before ending, we would like to re-evaluate your knowledge of what is important for well-being. Here are ten statements. How do you think each statement is important for well-being (in a general manner, not espacially about yourself)?" %}
{% set table_description = "" %}
{% set form_action = "/essaim" %}
{% set page_name = "knowledge_after.html" %}
{% set button_text = "Next" %}
{% set button_class = "btn-primary btn-submit" %}
