{% extends "main/base_questionnaire.html" %}
{% set title = "Updated knowledge about good mental health" %}
{% set description = "Before ending, we would like to re-evaluate your knowledge of what is important for good mental health. Here are 10 statements about things that can be important for good mental health. On the scale from 1 to 5, how correct is each statement (in a general manner, not especially about yourself)?" %}
{% set table_description = "" %}
{% set form_action = "/essaim" %}
{% set page_name = "knowledge_after.html" %}
{% set button_text = "Next" %}
{% set button_class = "btn-primary btn-submit" %}
