{% extends "main/base_navigate.html" %}

{% block app_content %}
<br>
<br>
<div class ="pagestyle">
    <table class="table table-borderless">
        <tr> 
            <td ALIGN="CENTER"><h4 class = "pnavbut"> <b>Lifestyle</b></h4> </td>
        </tr>
        <tr> 
            <td ALIGN="LEFT">
                <p>Here is a questionnaire about your lifestyle</p>
            </td>
        </tr>
    </table>

    <form action="/explain" method="post">
        {% for (question_id, question_content, form_id), questionnaire_value  in questionnaire_dico.items() %}

            {% if form_id == "scroll" %}
                <h4 style="margin-left: 50px;"><label for={{question_id}}>{{question_content}}</label></h4>
                <select id={{question_id}} name={{question_id}} class="large-text" style="margin-left: 50px;">
                    <option value=""></option>
                    {% for (answer_id, answer_content) in questionnaire_value %}
                        <option value={{answer_id}}>{{answer_content}}</option>
                    {% endfor %}
                </select><br><br>
            {% endif %}

            {% if form_id == "likert" %}
                <h4 style="margin-left: 50px;"><label for={{question_id}}>{{question_content}}</label></h4>
                <div class="likert-scale">
                    {% for (answer_id, answer_content) in questionnaire_value %}
                        <div class="likert-point" data-value={{answer_id}}><span class="likert-value">{{answer_content}}</span></div>
                    {% endfor %}
                </div>
                <input type="hidden" id={{question_id}} name={{question_id}} value="">
                <br><br>
            {% endif %}

            {% if form_id == "cursor" %}
                <h4 style="margin-left: 50px;margin-bottom: 55px;">
                    <label for="{{question_id}}">{{question_content}}</label>
                </h4>
                <div class="range-container" style="margin-left: 50px; width: calc(100% - 100px);">
                    <input type="range" id="{{question_id}}" name="{{question_id}}" 
                           min="1" max="{{ questionnaire_value | length }}" value="1" 
                           style="width: 100%;" step="1" list="tickmarks_{{question_id}}">
                    <div class="tickmarks" style="position: absolute; left: 0; right: 0; display: flex; justify-content: space-between; font-size: 15px; top: -25px;">
                        {% for (answer_id, answer_content) in questionnaire_value %}
                            <span>{{ answer_content }}</span>
                        {% endfor %}
                    </div>
                </div>
                <br><br>
            {% endif %}

            {% if form_id == "checkbox" %}
                <h4 style="margin-left: 50px;"><label for={{question_id}}>{{question_content}}</label></h4>
                <div class="checkbox-group" data-question-id="{{question_id}}" style="margin-left: 50px;">
                    {% for (answer_id, answer_content) in questionnaire_value %}
                        <div>
                            <label>
                                <input type="checkbox" id={{answer_id}} name={{question_id}}[] value={{answer_id}} />
                                {{answer_content}}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <br><br>
            {% endif %}

        {% endfor %}
        
        <h4 style="color: rgb(89, 108, 71); text-align: left;"><b>Please submit your answers by clicking on this button :</b></h4>
            <div style="text-align: left;">
                <input type="submit" value="Next" class="custom-btn">
            </div>
            <h4 style="color: red; text-align: right;">Make sure to fill out all fields before submitting.</h4>
            <br><br>  
        </form>
</div>
{% endblock %}

{% block scripts %}
<script>    
    const likertScales = document.querySelectorAll('.likert-scale');

    likertScales.forEach(scale => {
        const hiddenInput = scale.nextElementSibling;
        const likertPoints = scale.querySelectorAll('.likert-point');

        likertPoints.forEach(point => {
            point.addEventListener('click', () => {
                const value = point.dataset.value;

                hiddenInput.value = value;
                // Change color of points to indicate selection
                likertPoints.forEach(p => {
                    if (p === point) {
                        p.style.backgroundColor = 'rgb(89, 108, 71)';
                    } else {
                        p.style.backgroundColor = '#ccc';
                    }
                });
            });
        });
    });

    function validateForm() {

        // For scroll questions
        const scrollQuestions = document.querySelectorAll('select');
        for (let i = 0; i < scrollQuestions.length; i++) {
            if (scrollQuestions[i].value === "") {
                return false;
            }
        }

        // For likert questions
        const hiddenInputs = document.querySelectorAll('input[type="hidden"]');
        for (let i = 0; i < hiddenInputs.length; i++) {
            if (hiddenInputs[i].value === "") {
                return false;
            }
        }

        // For checkbox questions
        const checkboxGroups = document.querySelectorAll('.checkbox-group');
        for (let i = 0; i < checkboxGroups.length; i++) {
            const checkboxes = checkboxGroups[i].querySelectorAll('input[type="checkbox"]');
            let isChecked = false;

            // Check if at least one checkbox in the group is checked
            for (let j = 0; j < checkboxes.length; j++) {
                console.log(checkboxes[j].checked)
                if (checkboxes[j].checked) {
                    isChecked = true;
                    break; // Exit loop if one is found checked
                }
            }

            if (!isChecked) {
                return false; // If no checkbox is checked in a group, return false
            }
        }

        return true;
    }

    const skip_valid = {{ skip_valid | tojson }};
    document.querySelector('form').addEventListener('submit', function(event) {
        if (!validateForm() && !skip_valid) {
            alert('Please answer all questions before submitting.');
            event.preventDefault();
        } else {
            window.location.href = "{{ url_for('main.intent')}}"; // Obsolete due to action ?
        }
    });
</script> 

{% endblock %}


