{% extends "main/base_questionnaire.html" %}
{% set title = "Lifestyle" %}
{% set description = "Here is a questionnaire mainly about your lifestyle. These questions will be used by the algorithm to compute your well-being score that you will receive just after. We remind you that answering all questions is required to obtain your well-being score, but you may stop the questionnaire at any time by closing the page if you feel uncomfortable." %}
{% set table_description = "" %}
{% set form_action = "/explain" %}
{% set page_name = "lifestyle.html" %}
{% set button_text = "Next" %}
{% set button_class = "btn-primary btn-submit" %}
