{% extends "main/base_navigate.html" %}

{% block app_content %}
<br>
<br>
<div class ="pagestyle">
    <table class="table table-borderless">
        <tr> 
            <td ALIGN="CENTER"><h4 class = "pnavbut"> <b>Redirecting</b></h4> </td>
        </tr>
        
        <script type="text/javascript">
        window.onload = function() {
            window.open("{{ prolific_url }}", "_blank");
            window.close();
        }
    </script>

        <p>Redirecting to Prolific… If nothing happens, <a href="{{ prolific_url }}" target="_blank">click here</a>.</p>
        <p>When you are redirected to Prolific, you can close this page.</p>

    </table>
</div>
{% endblock %}


