{% extends "main/base_questionnaire.html" %}
{% set title = "Satisfaction" %}
{% set description = "Here is a questionnaire about the explanations you receive. When we talk about the algorithm, we are referring to the one that computes your mental health score. To what extent do you think the explanation of how the algorithm works:" %}
{% set table_description = "" %}
{% set form_action = "/intent" %}
{% set page_name = "satisfaction.html" %}
{% set button_text = "Next" %}
{% set button_class = "btn-primary btn-submit" %}
