.plabel {
    color:rgb(64, 65, 63);
    font-size: 25px
  }
.pnavbut {
  color: rgb(64, 65, 63);
  font-size: 30px
}
.navbar-custom {
    background-color: rgb(171, 37, 41);
}
body{ 
  background-color: rgb(237, 245, 213);
  border-radius: 25px;
}
.button{
  background-color: rgb(109, 110, 109);
  color:rgb(249, 250, 248);
}

.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}
.align {
  text-align : center;
}
.titlecolor {
  color:rgb(89, 108, 71)
}

.firstnavbar { 
  background-color:rgb(255, 255, 255)
}

.secondnavbar { 
  background-color:rgb(66, 62, 62);
  text-align: center;
}

.secondnavbut {
  color: rgb(245, 247, 243);
  font-size: 20px
}

.recommendations {
  background-color:rgb(255, 255, 255);
  border-radius: 30px;
}

.pagestyle {
  background-color:rgb(255, 255, 255);
  border-radius: 30px;
}

.identtext {
  text-indent: 14em ;
  color: rgb(245, 247, 243);
  font-size: 25px;
}

.staridenttext{
  text-indent: 1em ;
}


.large-text {
  font-size: 20px; 
}
.likert-scale {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 300px; /* Marge à gauche */
  margin-right: 300px; /* Marge à droite */
}
.likert-point {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}
.likert-point:hover {
  background-color: black;
}
.likert-value {
  position: absolute;
  bottom: -40px; /* Augmenter l'espace par rapport à la ligne inférieure */
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px; /* Augmenter la taille du texte des choix */
  color: green; /* Changer la couleur du texte */
  white-space: nowrap; /* Empêcher le retour à la ligne */
}
/* Ajoutez une marge à gauche pour le premier point et une marge à droite pour le dernier point */
.likert-point:first-child {
  margin-left: 20px;
}
.likert-point:last-child {
  margin-right: 20px;
}
